//==============================================================================
//
// echo-base/defaults/elements/_input.scss
//
// --------------------
// Table of contents
// --------------------
// a. Defaults
// b. Classes
//
//
// @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
// a. Defaults
//==============================================================================

$input-text-display: block !default;
$input-text-width: 100% !default;
$input-text-height: auto !default;
$input-text-padding-bottom: 0.5rem !default;
$input-text-padding-top: 0.75rem !default;
$input-text-padding-left: 0.5rem !default;
$input-text-padding-right: 0.5rem !default;
$input-text-margin-bottom: 1rem !default;
$input-text-margin-top: 0 !default;
$input-text-background-color: palette(global-form-element-background-color) !default;
$input-text-border-color: palette(global-form-element-border-color) !default;
$input-text-border-style: solid !default;
$input-text-border-width: 1px !default;
$input-text-border-radius: $global-border-radius !default;
$input-text-box-shadow: inset 0 1px 2px palette(global-form-element-box-shadow-color) !default;
$input-text-color: palette(global-form-element-color) !default;
$input-text-font-family: $base-font-family !default;
$input-text-font-size: $base-font-size !default;
$input-text-font-weight: $base-font-weight !default;
$input-text-line-height: $base-line-height !default;
$input-text-appearance: none !default;

// State: Focus
//==============================================================================

$input-text-background-color-focus: palette(global-form-element-background-color-focus) !default;
$input-text-border-color-focus: palette(global-form-element-border-color-focus) !default;
$input-text-box-shadow-focus: 0 0 3px palette(global-form-element-box-shadow-color-focus) !default;
$input-text-color-focus: palette(global-form-element-color-focus) !default;
$input-text-outline-focus: none !default;


// State: Disabled
//==============================================================================

$input-text-background-color-disabled: palette(global-form-element-background-color-disabled) !default;
$input-text-border-color-disabled: palette(global-form-element-border-color-disabled) !default;
$input-text-color-disabled: palette(global-form-element-color-disabled) !default;
$input-text-cursor-disabled: not-allowed !default;

$input-inline-cursor-disabled: not-allowed !default;

//==============================================================================
//  b. Classes
//==============================================================================

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="week"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
    display: $input-text-display;
    width: $input-text-width;
    height: $input-text-height;
    padding-bottom: $input-text-padding-bottom;
    padding-top: $input-text-padding-top;
    padding-left: $input-text-padding-left;
    padding-right: $input-text-padding-right;
    margin-bottom: $input-text-margin-bottom;
    margin-top: $input-text-margin-top;
    background-color: $input-text-background-color;
    border-color: $input-text-border-color;
    border-style: $input-text-border-style;
    border-width: $input-text-border-width;
    border-radius: $input-text-border-radius;
    box-shadow: $input-text-box-shadow;
    color: $input-text-color;
    font-family: $input-text-font-family;
    font-size: $input-text-font-size;
    font-weight: $input-text-font-weight;
    line-height: $input-text-line-height;
    -moz-appearance: $input-text-appearance;
    -webkit-appearance: $input-text-appearance;

    &:focus {
        background-color: $input-text-background-color-focus;
        border-color: $input-text-border-color-focus;
        box-shadow: $input-text-box-shadow-focus;
        color: $input-text-color-focus;
        outline: $input-text-outline-focus;
    }

    &:disabled {
        background-color: $input-text-background-color-disabled;
        border-color: $input-text-border-color-disabled;
        color: $input-text-color-disabled;
        cursor: $input-text-cursor-disabled;
    }
}

input[type="radio"],
input[type="checkbox"] {
    &:disabled {
        cursor: $input-inline-cursor-disabled;
    }
}
