//==============================================================================
//
//  echo-base/defaults/elements/_label.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//  b. Mixins
//  c. Classes
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Defaults
//==============================================================================

$use-label-defaults: $use-echo-base-defaults !default;


$label-display: block !default;
$label-cursor: pointer !default;
$label-font-size: $base-font-size !default;
$label-font-weight: $base-font-weight !default;
$label-line-height: $base-line-height !default;

$label-inline-display: inline-block !default;
$label-inline-margin-bottom: 0 !default;
$label-inline-margin-top: 0 !default;
$label-inline-margin-right: 1rem !default;
$label-inline-margin-left: 0.5rem !default;
$label-inline-vertical-align: baseline !default;

$label-inline-color-disabled: palette(default-grey, dark) !default;
$label-inline-cursor-disabled: not-allowed !default;


//==============================================================================
//  b. Mixins
//==============================================================================

@mixin label {

    display: $label-display;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: $label-line-height;

    &[for] {

        cursor: $label-cursor;

    }

}

@mixin label-other {

    display: $label-inline-display;
    margin-bottom: $label-inline-margin-bottom;
    margin-top: $label-inline-margin-top;
    margin-right: $label-inline-margin-right;
    margin-left: $label-inline-margin-left;
    vertical-align: $label-inline-vertical-align;

}

@mixin label-disabled {

    color: $label-inline-color-disabled;
    cursor: $label-inline-cursor-disabled;

}



//==============================================================================
//  c. Classes
//==============================================================================

@if $use-label-defaults {

    label {
        @include label;
    }

    input[type="radio"] + label,
    input[type="checkbox"] + label {

        @include label-other;

    }

    input[disabled] + label {

        @include label-disabled;

    }

}
