//==============================================================================
//
//  echo-base/defaults/elements/_legend.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//  b. Mixins
//  c. Classes
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Defaults
//==============================================================================

$use-legend-defaults: $use-echo-base-defaults !default;

$legend-font-family: $base-font-family !default;
$legend-font-size: $base-font-size !default;
$legend-font-weight: $base-font-weight !default;




//==============================================================================
//  b. Mixins
//==============================================================================

@mixin legend {

    font-family: $legend-font-family;
    font-size: $legend-font-size;
    font-weight: $legend-font-weight;

}



//==============================================================================
//  c. Classes
//==============================================================================

@if $use-legend-defaults {

    legend {

        @include legend;

    }

}
