//==============================================================================
//
//  echo-base/defaults/elements/_legend.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//  b. Classes
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Defaults
//==============================================================================

$legend-font-family: $base-font-family !default;
$legend-font-size: $base-font-size !default;
$legend-font-weight: $base-font-weight !default;




//==============================================================================
//  b. Classes
//==============================================================================

legend {
    font-family: $legend-font-family;
    font-size: $legend-font-size;
    font-weight: $legend-font-weight;
}
