//==============================================================================
//
//  echo-base/defaults/elements/_select.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//  b. Classes
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Defaults
//==============================================================================

$select-width: 100% !default;
$select-height: auto !default;
$select-padding-bottom: 0.5rem !default;
$select-padding-top: 0.75rem !default;
$select-padding-left: 0.5rem !default;
$select-padding-right: 0.5rem !default;
$select-margin-bottom: 1rem !default;
$select-margin-top: 0 !default;
$select-background-color: palette(default-white) !default;
$select-background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) !default;
$select-background-repeat: no-repeat !default;
$select-background-position: 100% center !default;
$select-border-color: palette(default-grey) !default;
$select-border-style: solid !default;
$select-border-width: 1px !default;
$select-border-radius: $global-border-radius !default;
$select-box-shadow: inset 0 1px 2px rgba(palette(default-black), 0.1) !default;
$select-color: palette(default-grey, dark) !default;
$select-font-family: $base-font-family !default;
$select-font-size: $base-font-size !default;
$select-font-weight: $base-font-weight !default;
$select-line-height: $base-line-height !default;
$select-appearance: none !default;

//  select :focus
//==============================================================================

$select-background-color-focus: palette(default-white) !default;
$select-border-color-focus: palette(default-grey) !default;
$select-box-shadow-focus: 0 0 3px palette(default-grey) !default;
$select-color-focus: palette(default-grey, dark) !default;
$select-outline-focus: none !default;

//  select :disabled
//==============================================================================

$select-background-color-disabled: palette(default-grey, x-light) !default;
$select-border-color-disabled: palette(default-grey, light) !default;
$select-color-disabled: palette(default-grey, dark) !default;
$select-cursor-disabled: not-allowed !default;

//==============================================================================
//  b. Classes
//==============================================================================

select {
    margin-bottom: $select-margin-bottom;
    margin-top: $select-margin-top;
    padding-bottom: $select-padding-bottom;
    padding-top: $select-padding-top;
    padding-left: $select-padding-left;
    padding-right: $select-padding-right;
    width: $select-width;
    height: $select-height;
    background-color: $select-background-color;
    background-image: $select-background-image;
    background-position: $select-background-position;
    background-repeat: $select-background-repeat;
    border-color: $select-border-color;
    border-style: $select-border-style;
    border-width: $select-border-width;
    border-radius: $select-border-radius;
    box-shadow: $select-box-shadow;
    color: $select-color;
    font-family: $select-font-family;
    font-size: $select-font-size;
    font-weight: $select-font-weight;
    line-height: $select-line-height;
    -moz-appearance: $select-appearance;
    -webkit-appearance: $select-appearance;

    // Hide the dropdown arrow shown in newer IE versions
    &::-ms-expand {
        display: none;
    }

    &:focus {
        background-color: $select-background-color-focus;
        border-color: $select-border-color-focus;
        box-shadow: $select-box-shadow-focus;
        color: $select-color-focus;
        outline: $select-outline-focus;
    }

    &:disabled {
        background-color: $select-background-color-disabled;
        border-color: $select-border-color-disabled;
        color: $select-color-disabled;
        cursor: $select-cursor-disabled;
    }
}
