//==============================================================================
//
//  echo-base/defaults/elements/_table.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. General defaults
//  b. CSS defaults
//      1. Table
//      2. Table head
//      3. Table body
//      4. Table row
//      5. Table heading
//      6. Table data
//  c. Mixins
//  d. Classes
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================




//==============================================================================
//  a. General defaults
//==============================================================================

$use-table-defaults: $use-echo-base-defaults !default;




//==============================================================================
//  b. CSS defaults
//==============================================================================

//  Table
//==============================================================================

$table-width: 100% !default;



//  Table head
//==============================================================================

$thead-border-bottom-width: 2px !default;
$thead-border-bottom-style: solid !default;
$thead-border-bottom-color: palette(default-grey, light) !default;



//  Table body
//==============================================================================



//  Table row
//==============================================================================

$tr-background-color-odd: palette(default-grey, x-light) !default;
$tr-background-color-even: palette(default-grey, light) !default;



//  Table heading
//==============================================================================

$th-padding-top: 1rem !default;
$th-padding-bottom: 1rem !default;
$th-padding-right: 1rem !default;
$th-padding-left: 1rem !default;
$th-background-color: palette(default-white) !default;
$th-font-weight: $base-font-weight !default;



//  Table data
//==============================================================================

$td-padding-top: 1rem !default;
$td-padding-bottom: 1rem !default;
$td-padding-right: 1rem !default;
$td-padding-left: 1rem !default;
$td-font-weight: $base-font-weight !default;




//==============================================================================
//  c. Mixins
//==============================================================================

@mixin table {
    width: $table-width;
}

@mixin table-head {
    border-bottom-width: $thead-border-bottom-width;
    border-bottom-style: $thead-border-bottom-style;
    border-bottom-color: $thead-border-bottom-color;
}

@mixin table-row {

    &:nth-child(odd) {
        background-color: $tr-background-color-odd;
    }

    &:nth-child(even) {
        background-color: $tr-background-color-even;
    }
}

@mixin table-heading {
    padding-top: $th-padding-top;
    padding-bottom: $th-padding-bottom;
    padding-right: $th-padding-right;
    padding-left: $th-padding-left;
    background-color: $th-background-color;
    font-weight: $th-font-weight;
}

@mixin table-data {
    padding-top: $td-padding-top;
    padding-bottom: $td-padding-bottom;
    padding-right: $td-padding-right;
    padding-left: $td-padding-left;
    font-weight: $td-font-weight;
}


//==============================================================================
//  d. Classes
//==============================================================================

@if $use-table-defaults {

    table {
        @include table;
    }

    thead {
        @include table-head;
    }

    tr {
        @include table-row;
    }

    th {
        @include table-heading;
    }

    td {
        @include table-data;
    }
}
