//==============================================================================
//
// scss/_palettes.scss
//
// --------------------
// Table of contents
// --------------------
// a. Palettes
//
//
// @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================

//==============================================================================
// a. Palettes
//==============================================================================

$palettes: (

// Third-party
//==============================================================================

    third-party: (
        facebook:   rgb(59, 89, 152),
        twitter:    rgb(0, 172, 237),
        linkedin:   rgb(0, 123, 182),
        googleplus: rgb(221, 75, 57),
        youtube:    rgb(187, 0, 0)
    ),

// Colors
//==============================================================================




);
