//==============================================================================
//
// scss/_palettes.scss
//
// --------------------
// Table of contents
// --------------------
// a. Palettes
//
//
// @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================

//==============================================================================
// a. Palettes
//==============================================================================


$palettes: (

// Third-party palettes
//==============================================================================

    facebook: (
        base: rgb(59, 89, 152)
    ),

    twitter: (
        base: rgb(0, 172, 237),
    ),

    linkedin: (
        base: rgb(0, 123, 182),
    ),

    googleplus: (
        base: rgb(221, 75, 57),
    ),

    youtube: (
        base: rgb(187, 0, 0)
    ),

// Colors
//==============================================================================

);
