//==============================================================================
//
//  main.scss
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================

@charset 'UTF-8';




//==============================================================================
//  Bower dependencies
//==============================================================================

@import 'susy';
@import './bower_components/normalize.css/normalize';




//==============================================================================
//  Settings and functions
//==============================================================================

@import 'echo-base/defaults/breakpoints';
@import 'echo-base/defaults/palettes';
@import 'echo-base/defaults/utilities/functions';
@import 'echo-base/settings';




//==============================================================================
//  Defaults
//==============================================================================

@import 'echo-base/defaults/all';




//==============================================================================
//  Partials
//==============================================================================

@import 'echo-base/app/all';
