# OS X
.DS_Store
._*

# Windows
.thumb

# Sass
.sass-cache
*.css.map
Gemfile.lock

# SassDoc
.pages
.sassdoc

# Node Modules
node_modules/*
bower_components/*

# Dist structure
dist/img/*
dist/js/*
dist/css/*
dist/index-old.html

# Tests
spec/scss/results.css
