.article {
    &__heading {
        color: #f00;
        font-size: 6rem;
        margin-top: 40vh;
    }

    &__search {
        width: 50%;
        background-color: #f00;
        color: #fff;
        border-color: #f00;
    }
}
