//==============================================================================
//
//  spec/scss/utilities/_breakpoints.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Custom test dependencies
//  b. Function/mixin dependencies
//  c. Build tests
//  d. Run tests
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  Custom test dependencies
//==============================================================================

$custom-breakpoint-key: custom-breakpoint;
$custom-breakpoint-value: 200px;

$custom-breakpoint-key-small: custom-breakpoint-small;
$custom-breakpoint-key-large: custom-breakpoint-large;

$custom-breakpoint-small: 1px;
$custom-breakpoint-large: 10000000px;

$custom-breakpoints: (
    $custom-breakpoint-key: $custom-breakpoint-value,
    $custom-breakpoint-key-small: $custom-breakpoint-small,
    $custom-breakpoint-key-large: $custom-breakpoint-large
);




//==============================================================================
//  Function/mixin dependencies
//==============================================================================

@import "../../../scss/echo-base/defaults/breakpoints";




//==============================================================================
// Build tests
//==============================================================================

// Setup breakpoints - setup-breakpoints()
//==============================================================================

/// Test if setup-breakpoints() returns an object of type map
///
/// @group Tests

@mixin breakpoints-return-map() {

    @include test('setup-breakpoints') {
        // Values to compare
        $test: type-of(setup-breakpoints());
        $expect: map;

        @include assert-equal($test, $expect, 'Returns a map');
    }

}



/// Test if setup-breakpoints() successfully merges the default and custom
/// palette maps by checking for the existance of a custom key
///
/// @group Tests

@mixin breakpoints-has-custom-key() {

    @include test('setup-breakpoints') {
        // Setup
        $breakpoints-map: setup-breakpoints();

        // Values to compare
        $test: map-has-key($breakpoints-map, custom-breakpoint);
        $expect: true;

        @include assert-equal($test, $expect, 'Returns a merged map of default & custom breakpoints');
    }

}



/// Test if setup-breakpoints() successfully merges the default and custom
/// palette maps by checking the value of a custom key
///
/// @group Tests

@mixin breakpoints-return-custom-value() {

    @include test('setup-breakpoints') {
        // Setup
        $breakpoints-map: setup-breakpoints();

        // Values to compare
        $test: map-get($breakpoints-map, $custom-breakpoint-key);
        $expect: $custom-breakpoint-value;

        @include assert-equal($test, $expect, 'Returns a custom breakpoint value');
    }

}



/// Test if setup-breakpoints() returns a list compromised of both default and
/// custom map keys
///
/// @group Tests

@mixin breakpoints-return-merged-key-list() {

    @include test('setup-breakpoints') {
        // Setup
        $breakpoints-map: setup-breakpoints();

        // Values to compare
        $test: map-keys($breakpoints-map);
        $expect: large, medium, small, x-small, custom-breakpoint, custom-breakpoint-small, custom-breakpoint-large;

        @include assert-equal($test, $expect, 'Returns a list of the default and custom breakpoints');
    }

}



// Get Breakpoints - breakpoint()
//==============================================================================

/// Test if breakpoint() will return the correct breakpoint value
///
/// @group Tests

@mixin breakpoints-return-specified-value() {

    @include test('breakpoint') {

        $breakpoint: $custom-breakpoint-key;

        $test: breakpoint($breakpoint);
        $expect: $custom-breakpoint-value;

        @include assert-equal($test, $expect, 'Return a breakpoint value from the breakpoint map');

    }

}


/// Test if breakpoint() will return false if a breakpoint that doesn't exist
/// is specified.
///
/// @group Tests

@mixin breakpoints-return-false() {
    @include test('breakpoint') {

        $breakpoint: 'non-existant-breakpoint';

        $test: breakpoint($breakpoint);
        $expect: false;

        @include assert-equal($test, $expect, 'Returns false when encountering a non existant variable');
    }
}

// setup-key-list()
//==============================================================================

/// test if setup-key-list returns a string
///
/// @group Tests

@mixin setup-returns-string() {
    @include test('key-list') {

        $test: type-of(setup-key-list());
        $expect: string;

        @include assert-equal($test, $expect, 'setup-key-list() returns a string');
    }
}


/// test if setup-key-list returns the expected string with a named value
///
/// @group Tests

@mixin setup-returns-string-named() {
    @include test('key-list') {

        $val: (large);

        $test: setup-key-list($val);
        $expect: '(max-width: 960px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly for named value');
    }
}

/// test if setup-key-list returns the expected string with a custom value
///
/// @group Tests

@mixin setup-returns-string-custom() {
    @include test('key-list') {

        $val: (900px);

        $test: setup-key-list($val);
        $expect: '(max-width: 900px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly for custom value');
    }
}

/// test if setup-key-list returns the expected string with a named value range and ordered desktop first
///
/// @group Tests

@mixin setup-returns-string-named-range() {
    @include test('key-list') {

        $val: (small, large);

        $test: setup-key-list($val);
        $expect: '(max-width: 960px) and (min-width: 480px)';

        @include assert-equal($test, $expect, 'setup-key-list()  returns correctly and ordered for named value range');
    }
}

/// test if setup-key-list returns the expected string with a custom value range and ordered desktop first
///
/// @group Tests

@mixin setup-returns-string-custom-range() {
    @include test('key-list') {

        $val: (100px, 900px);

        $test: setup-key-list($val);
        $expect: '(max-width: 900px) and (min-width: 100px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly and ordered for custom value range');
    }
}


/// test if setup-key-list returns the expected string with a named value
///
/// @group Tests

@mixin setup-returns-string-named-mobile() {
    @include test('key-list-mobile') {

        $mobile-first: true;
        $val: (large);

        $test: setup-key-list($val);
        $expect: '(min-width: 960px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly for named value - mobile first');
    }
}

/// test if setup-key-list returns the expected string with a custom value
///
/// @group Tests

@mixin setup-returns-string-custom-mobile() {
    @include test('key-list-mobile') {

        $mobile-first: true;
        $val: (900px);

        $test: setup-key-list($val);
        $expect: '(min-width: 900px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly for custom value - mobile first');
    }
}

/// test if setup-key-list returns the expected string with a named value range and ordered desktop first
///
/// @group Tests

@mixin setup-returns-string-named-range-mobile() {
    @include test('key-list-mobile') {

        $mobile-first: true;
        $val: (small, large);

        $test: setup-key-list($val);
        $expect: '(min-width: 480px) and (max-width: 960px)';

        @include assert-equal($test, $expect, 'setup-key-list()  returns correctly and ordered for named value range - mobile first');
    }
}

/// test if setup-key-list returns the expected string with a custom value range and ordered desktop first
///
/// @group Tests

@mixin setup-returns-string-custom-range-mobile() {
    @include test('key-list-mobile') {

        $mobile-first: true;
        $val: (100px, 900px);

        $test: setup-key-list($val);
        $expect: '(min-width: 100px) and (max-width: 900px)';

        @include assert-equal($test, $expect, 'setup-key-list() returns correctly and ordered for custom value range - mobile first');
    }
}






//==============================================================================
// Build tests
//==============================================================================

// Setup breakpoints - setup-breakpoints()
//==============================================================================

@include test-module('Setup breakpoints') {

    @include breakpoints-return-map();
    @include breakpoints-has-custom-key();
    @include breakpoints-return-custom-value();
    @include breakpoints-return-merged-key-list();

}

@include test-module('breakpoint') {

    @include breakpoints-return-specified-value();
    @include breakpoints-return-false();

}

@include test-module('key-list') {

    @include setup-returns-string();
    @include setup-returns-string-named();
    @include setup-returns-string-custom();
    @include setup-returns-string-named-range();
    @include setup-returns-string-custom-range();

}

@include test-module('key-list-mobile') {

    @include setup-returns-string-named-mobile();
    @include setup-returns-string-custom-mobile();
    @include setup-returns-string-named-range-mobile();
    @include setup-returns-string-custom-range-mobile();

}
