//==============================================================================
//
//  spec/scss/utilities/_helpers.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Custom test dependencies
//  b. Function/mixin dependencies
//  c. Build tests
//  d. Run tests
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  Custom test dependencies
//==============================================================================

$base-font-size: 16px;


//==============================================================================
//  Function/mixin dependencies
//==============================================================================




//==============================================================================
//  Tests
//==============================================================================

@include test-module('Helpers') {



//  rem-calc() [function]
//==============================================================================

    @include test('rem-calc() [function]') {



        /// Test that the rem-calc() function returns a value of 1 rem
        /// where the px unit passed in is equal to the $base-font-size
        ///
        /// @group Tests

        $test: rem-calc(16px);
        $expect: 1rem;

        @include assert-equal($test, $expect, 'Returns a value of 1rem when passed the base-font-size');



        /// Test if rem-calc() returns a correct value half of base font size
        ///
        /// @group Tests

        $test: rem-calc(8px); // (16px / 2) = 8px
        $expect: 0.5rem;

        @include assert-equal($test, $expect, 'Returns a value of 0.5rem when passed a value of half the base-font-size');



        /// Test if rem-calc() returns a correct value one and a half times that of base font size
        ///
        /// @group Tests

        $test: rem-calc(24px); // (16px * 1.5) = 24px
        $expect: 1.5rem;

        @include assert-equal($test, $expect, 'Returns a value of 1.5rem when passed a value of one and half the base-font-size');
    }
}




//  Strip Unit - strip-unit()
//==============================================================================

@mixin strip-unit-returns-number() {

    @include test('strip-unit') {

        // Values to compare
        $test: type-of(strip-unit(24));
        $expect: number;

        @include assert-equal($test, $expect, 'strip unit returns a number');
    }

}

@mixin strip-unit-returns-number-without-unit() {

    @include test('strip-unit') {

        // Values to compare
        $test: strip-unit(24px);
        $expect: 24;

        @include assert-equal($test, $expect, 'strip unit returns a number with unit stripped');
    }
}




//  Remify - remify()
//==============================================================================

@mixin remify-returns-number() {

    @include test('remify') {

        // Values to compare
        $test: type-of(remify(1, $base-font-size));
        $expect: number;

        @include assert-equal($test, $expect, 'remify returns a number');
    }

}

@mixin remify-returns-rem-unit() {

    @include test('remify') {

        // Values to compare
        $test: remify(16, $base-font-size);
        $expect: 1rem;

        @include assert-equal($test, $expect, 'remify returns a rem unit');
    }
}



@mixin remify-returns-zero-value() {

    @include test('remify') {

        // Values to compare
        $test: remify(0, $base-font-size);
        $expect: 0;

        @include assert-equal($test, $expect, 'remify returns 0 for 0 values');
    }
}




//==============================================================================
//  Run tests
//==============================================================================



// Strip-unit - strip-unit()
//==============================================================================

@include test-module('strip-unit') {

    @include strip-unit-returns-number();
    @include strip-unit-returns-number-without-unit();

}



//  Remify - remify()
//==============================================================================

@include test-module('remify') {

    @include remify-returns-number();
    @include remify-returns-rem-unit();
    @include remify-returns-zero-value();

}
