//==============================================================================
//
//  spec/scss/utilities/_helpers.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Custom test dependencies
//  b. Function/mixin dependencies
//  c. Build tests
//  d. Run tests
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  Custom test dependencies
//==============================================================================

$base-font-size: 16px;



//==============================================================================
//  Function/mixin dependencies
//==============================================================================




//==============================================================================
//  Tests
//==============================================================================

@include test-module('Helpers') {



//  rem-calc() [function]
//==============================================================================

    @include test('rem-calc() [function]') {



        /// Test that the rem-calc() function returns a value of 1 rem
        /// where the px unit passed in is equal to the $base-font-size
        ///
        /// @group Tests

        $test: rem-calc($base-font-size);
        $expect: 1rem;

        @include assert-equal($test, $expect, 'Returns a value of 1rem when passed the base-font-size');



        $test: rem-calc( ( $base-font-size / 2 ) );
        $expect: 0.5rem;

        @include assert-equal($test, $expect, 'Returns a value of 0.5rem when passed a value of half the base-font-size');



        $test: rem-calc( ( $base-font-size * 1.5 ) );
        $expect: 1.5rem;

        @include assert-equal($test, $expect, 'Returns a value of 1.5rem when passed a value of one and half the base-font-size');
    }
}
