/* # Setup breakpoints ---------- */
/* setup-breakpoints */
[data-module="Setup breakpoints"] [data-test="setup-breakpoints"] .assert-equal {
  -result: PASS;
  -description: 'Returns a map'; }

/* setup-breakpoints */
[data-module="Setup breakpoints"] [data-test="setup-breakpoints"] .assert-equal {
  -result: PASS;
  -description: 'Returns a merged map of default & custom breakpoints'; }

/* setup-breakpoints */
[data-module="Setup breakpoints"] [data-test="setup-breakpoints"] .assert-equal {
  -result: PASS;
  -description: 'Returns a custom breakpoint value'; }

/* setup-breakpoints */
[data-module="Setup breakpoints"] [data-test="setup-breakpoints"] .assert-equal {
  -result: PASS;
  -description: 'Returns a list of the default and custom breakpoints'; }

/* # breakpoint ---------- */
/* breakpoint */
[data-module="breakpoint"] [data-test="breakpoint"] .assert-equal {
  -result: PASS;
  -description: 'Return a breakpoint value from the breakpoint map'; }

/* breakpoint */
[data-module="breakpoint"] [data-test="breakpoint"] .assert-equal {
  -result: PASS;
  -description: 'Returns false when encountering a non existant variable'; }

/* # key-list ---------- */
/* key-list */
[data-module="key-list"] [data-test="key-list"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns a string'; }

/* key-list */
[data-module="key-list"] [data-test="key-list"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly for named value'; }

/* key-list */
[data-module="key-list"] [data-test="key-list"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly for custom value'; }

/* key-list */
[data-module="key-list"] [data-test="key-list"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list()  returns correctly and ordered for named value range'; }

/* key-list */
[data-module="key-list"] [data-test="key-list"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly and ordered for custom value range'; }

/* # key-list-mobile ---------- */
/* key-list-mobile */
[data-module="key-list-mobile"] [data-test="key-list-mobile"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly for named value - mobile first'; }

/* key-list-mobile */
[data-module="key-list-mobile"] [data-test="key-list-mobile"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly for custom value - mobile first'; }

/* key-list-mobile */
[data-module="key-list-mobile"] [data-test="key-list-mobile"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list()  returns correctly and ordered for named value range - mobile first'; }

/* key-list-mobile */
[data-module="key-list-mobile"] [data-test="key-list-mobile"] .assert-equal {
  -result: PASS;
  -description: 'setup-key-list() returns correctly and ordered for custom value range - mobile first'; }

/* # Setup palettes ---------- */
/* setup-palettes */
[data-module="Setup palettes"] [data-test="setup-palettes"] .assert-equal {
  -result: PASS;
  -description: 'Returns a map'; }

/* setup-palettes */
[data-module="Setup palettes"] [data-test="setup-palettes"] .assert-equal {
  -result: PASS;
  -description: 'Returns a merged map of default & custom palettes'; }

/* setup-palettes */
[data-module="Setup palettes"] [data-test="setup-palettes"] .assert-equal {
  -result: PASS;
  -description: 'Returns a custom palette value'; }

/* # Test rem-calc ---------- */
/* rem-calc */
[data-module="Test rem-calc"] [data-test="rem-calc"] .assert-equal {
  -result: PASS;
  -description: 'Returns a correct value'; }

/* rem-calc */
[data-module="Test rem-calc"] [data-test="rem-calc"] .assert-equal {
  -result: PASS;
  -description: 'Returns a correct value'; }

/* rem-calc */
[data-module="Test rem-calc"] [data-test="rem-calc"] .assert-equal {
  -result: PASS;
  -description: 'Returns a correct value'; }

/* # SUMMARY ---------- */
/* 21 Tests: */
/*  - 21 Passed */
/*  - 0 Failed */
/* -------------------- */