//==============================================================================
//
//  echo-base/defaults/_breakpoints.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Default breakpoint vars
//  b. Default breakpoint map
//  c. Custom breakpoint map
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Default breakpoint vars
//==============================================================================

$break-large: 900px !default;
$break-medium: 768px !default;
$break-small: 450px !default;




//==============================================================================
//  b. Default breakpoint map
//==============================================================================

$default-breakpoints: (
    large: $break-large,
    medium: $break-medium,
    small: $break-small
);




//==============================================================================
//  c. Custom breakpoint map
//==============================================================================

$custom-breakpoints: () !default;
