//==============================================================================
//
//  echo-base/defaults/_global.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//      1. Enable Echo Base Defaults
//      2. Globals
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
//  a. Defaults
//==============================================================================

//  Enable Echo Base Defaults
//==============================================================================

$use-echo-base-defaults: true !default;




//  Globals
//==============================================================================

$global-box-sizing: border-box !default;
$global-border-radius: 5px !default;
