//==============================================================================
//
//  echo-base/defaults/_grid.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Defaults
//      1. Window
//      2. Content
//  b. Layouts
//  c. Classes
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================



//==============================================================================
//  a. Defaults
//==============================================================================

$use-grid-default: $use-echo-base-defaults !default;

//  Window grid
//==============================================================================

// None



//  Content grid
//==============================================================================

$grid-content-container: 1280px !default;
$grid-content-block-padding-left: 2% !default;
$grid-content-block-padding-right: 2% !default;




//==============================================================================
//  b. Grid layouts
//==============================================================================

//  Default susy grid
//==============================================================================

// This is required as by default Susy sets gutters to be a fraction which
// Libsass flags up as an error. Wait for fix.

$susy: (
    gutters: 0.25,
);



//  Window grid
//==============================================================================

$window: (
    columns: 1,
    gutters: 0,
);



//  Content grid
//==============================================================================

$content: (
    columns: 1,
    gutters: 0,
    container: $grid-content-container,
);




//==============================================================================
//  c. Grid classes
//==============================================================================

@if $use-grid-default {
    .grid {

    //  Window grid
    //==============================================================================

        @include with-layout($window) {
            &-window__container {
                @include container;
            }

            &-window__block {
                @include full;
            }
        }



    //  Content grid
    //==============================================================================

        @include with-layout($content) {
            &-content__container {
                @include container;
            }

            &-content__block {
                @include full;
                padding-left: $grid-content-block-padding-left;
                padding-right: $grid-content-block-padding-right;
            }
        }
    }
}
