//==============================================================================
//
//  echo-base/defaults/_palettes.scss
//
//  ----------------------------------------------------------------------------
//  Table of contents
//  ----------------------------------------------------------------------------
//  a. Use third-party palettes flag
//  b. Default variables
//  c. Default palettes
//  d. Third-party palettes
//  e. Custom palettes
//
//
//  @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================



//==============================================================================
//  a. Use third-party palette flag
//==============================================================================

$use-third-party-palette: true !default;




//==============================================================================
//  b. Default variables
//==============================================================================

$primary-color: rgb(0, 200, 162) !default;


//==============================================================================
//  c. Default palettes
//==============================================================================

$default-palettes: (

    primary: (
        base: $primary-color
    ),

    echo-base: (
        black: rgb(0, 0, 0),
        white: rgb(255, 255, 255),
        grey: (
            x-light: rgb(245, 245, 245),
            light: rgb(228, 228, 228),
            base: rgb(200, 200, 200),
            dark: rgb(150, 150, 150)
        ),
    )
);



//==============================================================================
//  d. Third-party palettes
//==============================================================================

$third-party-palettes: (
    facebook: (
        base: rgb(59, 89, 152)
    ),

    twitter: (
        base: rgb(0, 172, 237),
    ),

    linkedin: (
        base: rgb(0, 123, 182),
    ),

    googleplus: (
        base: rgb(221, 75, 57),
    ),

    youtube: (
        base: rgb(187, 0, 0)
    )
);




//==============================================================================
//  e. Custom palettes
//==============================================================================

$custom-palettes: () !default;
