//==============================================================================
//
// echo-base/defaults/_palettes.scss
//
// --------------------
// Table of contents
// --------------------
// a. Palettes
//
//
// @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================





// Form elements

$global-form-element-background-color: rgb(255, 255, 255) !default;
$global-form-element-border-color: rgb(228, 228, 228) !default;
$global-form-element-box-shadow-color: rgba(0, 0, 0, 0.1) !default;
$global-form-element-color: rgb(150, 150, 150) !default;

// Form elements - Focus

$global-form-element-background-color-focus: rgb(255, 255, 255) !default;
$global-form-element-border-color-focus: #ccc !default;
$global-form-element-box-shadow-color-focus: rgb(200, 200, 200) !default;
$global-form-element-color-focus: rgb(150, 150, 150) !default;

// Form elements - Disabled

$global-form-element-background-color-disabled: rgb(245, 245, 245) !default;
$global-form-element-border-color-disabled: rgb(228, 228, 228) !default;
$global-form-element-color-disabled: rgb(150, 150, 150) !default;












//==============================================================================
// a. Palettes
//==============================================================================

$default-palettes: (

// Third-party palettes
//==============================================================================

    facebook: (
        base: rgb(59, 89, 152)
    ),

    twitter: (
        base: rgb(0, 172, 237),
    ),

    linkedin: (
        base: rgb(0, 123, 182),
    ),

    googleplus: (
        base: rgb(221, 75, 57),
    ),

    youtube: (
        base: rgb(187, 0, 0)
    ),


// Global palettes
//==============================================================================


    // Form elements

    global-form-element-color: (
        base: $global-form-element-color
    ),

    global-form-element-background-color: (
        base: $global-form-element-background-color
    ),

    global-form-element-border-color: (
        base: $global-form-element-border-color
    ),

    global-form-element-box-shadow-color: (
        base: $global-form-element-box-shadow-color
    ),


    // Form elements - Focus

    global-form-element-background-color-focus: (
        base: $global-form-element-background-color-focus
    ),

    global-form-element-border-color-focus: (
        base: $global-form-element-border-color-focus
    ),

    global-form-element-box-shadow-color-focus: (
        base: $global-form-element-box-shadow-color-focus
    ),

    global-form-element-color-focus: (
        base: $global-form-element-color-focus
    ),


    // Form elements - Disabled

    global-form-element-background-color-disabled: (
        base: $global-form-element-background-color-disabled
    ),

    global-form-element-border-color-disabled: (
        base: $global-form-element-border-color-disabled
    ),

    global-form-element-color-disabled: (
        base: $global-form-element-color-disabled
    ),













);


$custom-palettes: () !default;
