//==============================================================================
//
// echo-base/defaults/_typography.scss
//
// --------------------
// Table of contents
// --------------------
// a. Defaults
//    1. Base font
//    2. Fixed font
//    3. Heading font
//    4. Font weight
// b. Classes
//
//
// @copyright 2015, Loft Digital, www.weareloft.com
//
//==============================================================================


//==============================================================================
// a. Defaults
//==============================================================================

// Font weights
//==============================================================================

$font-weight-light: 100 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

//  Base font
//==============================================================================

$base-font-family: Arial, sans-serif !default;
$base-font-weight: $font-weight-regular !default;
$base-font-size: 18px !default;
$base-font-style: normal;
$base-line-height: 1.5 !default;

// Fixed font
//==============================================================================

$fixed-font-family: monospace !default;
$fixed-font-size: 85% !default;
$fixed-line-height: $base-line-height !default;

// Heading font
//==============================================================================

$heading-font-family: Arial, sans-serif !default;
$heading-font-weight: $font-weight-bold !default;
$heading-line-height: 1.5 !default;
$heading-font-margin-top: 0.2rem !default;
$heading-font-margin-bottom: 0.5rem !default;
$heading-font-text-rendering: optimizeLegibility !default;
$heading-letter-spacing: normal !default;
$heading-text-transform: none !default;


// h1
//==============================================================================

$h1-font-size: 4rem !default;
$h1-font-family: $heading-font-family !default;
$h1-font-weight: $heading-font-weight !default;
$h1-line-height: $heading-line-height !default;
$h1-font-margin-bottom: $heading-font-margin-bottom !default;
$h1-font-margin-top: $heading-font-margin-top !default;
$h1-font-text-rendering: $heading-font-text-rendering !default;
$h1-letter-spacing: $heading-letter-spacing !default;
$h1-text-transform: $heading-text-transform !default;

// h2
//==============================================================================

$h2-font-size: 3.5rem !default;
$h2-font-family: $heading-font-family !default;
$h2-font-weight: $heading-font-weight !default;
$h2-line-height: $heading-line-height !default;
$h2-font-margin-bottom: $heading-font-margin-bottom !default;
$h2-font-margin-top: $heading-font-margin-top !default;
$h2-font-text-rendering: $heading-font-text-rendering !default;
$h2-letter-spacing: $heading-letter-spacing !default;
$h2-text-transform: $heading-text-transform !default;

// h3
//==============================================================================

$h3-font-size: 3rem !default;
$h3-font-family: $heading-font-family !default;
$h3-font-weight: $heading-font-weight !default;
$h3-line-height: $heading-line-height !default;
$h3-font-margin-bottom: $heading-font-margin-bottom !default;
$h3-font-margin-top: $heading-font-margin-top !default;
$h3-font-text-rendering: $heading-font-text-rendering !default;
$h3-letter-spacing: $heading-letter-spacing !default;
$h3-text-transform: $heading-text-transform !default;

// h4
//==============================================================================

$h4-font-size: 2.5rem !default;
$h4-font-family: $heading-font-family !default;
$h4-font-weight: $heading-font-weight !default;
$h4-line-height: $heading-line-height !default;
$h4-font-margin-bottom: $heading-font-margin-bottom !default;
$h4-font-margin-top: $heading-font-margin-top !default;
$h4-font-text-rendering: $heading-font-text-rendering !default;
$h4-letter-spacing: $heading-letter-spacing !default;
$h4-text-transform: $heading-text-transform !default;

// h5
//==============================================================================

$h5-font-size: 2rem !default;
$h5-font-family: $heading-font-family !default;
$h5-font-weight: $heading-font-weight !default;
$h5-line-height: $heading-line-height !default;
$h5-font-margin-bottom: $heading-font-margin-bottom !default;
$h5-font-margin-top: $heading-font-margin-top !default;
$h5-font-text-rendering: $heading-font-text-rendering !default;
$h5-letter-spacing: $heading-letter-spacing !default;
$h5-text-transform: $heading-text-transform !default;

// h6
//==============================================================================

$h6-font-size: 1.5rem !default;
$h6-font-family: $heading-font-family !default;
$h6-font-weight: $heading-font-weight !default;
$h6-line-height: $heading-line-height !default;
$h6-font-margin-bottom: $heading-font-margin-bottom !default;
$h6-font-margin-top: $heading-font-margin-top !default;
$h6-font-text-rendering: $heading-font-text-rendering !default;
$h6-letter-spacing: $heading-letter-spacing !default;
$h6-text-transform: $heading-text-transform !default;

// p
//==============================================================================

$p-font-family: $base-font-family !default;
$p-font-size: $base-font-size !default;
$p-font-weight: $base-font-weight !default;
$p-line-height: $base-line-height !default;
$p-letter-spacing: normal !default;
$p-text-transform: none !default;
$p-margin-top: 1.5rem !default;
$p-margin-bottom: 1.5rem !default;

// a
//==============================================================================

$a-text-decoration: none !default;
$a-text-decoration-hover: none !default;
$a-font-color: rgb(0, 200, 162) !default;
$a-font-color-hover: scale-color($a-font-color, $lightness: -14%) !default;

// ul
//==============================================================================

$ul-list-style-type: disc !default;
$ul-margin-top: 1rem !default;
$ul-margin-bottom: 1rem !default;
$ul-margin-right: 0 !default;
$ul-margin-left: 1.3rem !default;

// ol
//==============================================================================

$ol-list-style-type: decimal !default;
$ol-margin-top: 1rem !default;
$ol-margin-bottom: 1rem !default;
$ol-margin-right: 0 !default;
$ol-margin-left: 1.3rem !default;

// li
//==============================================================================

$li-font-family: $base-font-family !default;
$li-font-size: $base-font-size !default;
$li-font-weight: $base-font-weight !default;
$li-line-height: $base-line-height !default;
$li-margin-top: 0 !default;
$li-margin-bottom: 0 !default;
$li-margin-right: 0 !default;
$li-margin-left: 0 !default;
$li-padding-top: 0 !default;
$li-padding-bottom: 0 !default;
$li-padding-right: 0 !default;
$li-padding-left: 0 !default;


//==============================================================================
// c. Classes
//==============================================================================

// Headings
//==============================================================================

h1 {
    font-size: $h1-font-size;
    font-family: $h1-font-family;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    margin-bottom: $h1-font-margin-bottom;
    margin-top: $h1-font-margin-top;
    text-rendering: $h1-font-text-rendering;
    letter-spacing: $h1-letter-spacing;
    text-transform: $h1-text-transform;
}

h2 {
    font-size: $h2-font-size;
    font-family: $h2-font-family;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    margin-bottom: $h2-font-margin-bottom;
    margin-top: $h2-font-margin-top;
    text-rendering: $h2-font-text-rendering;
    letter-spacing: $h2-letter-spacing;
    text-transform: $h2-text-transform;
}

h3 {
    font-size: $h3-font-size;
    font-family: $h3-font-family;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    margin-bottom: $h3-font-margin-bottom;
    margin-top: $h3-font-margin-top;
    text-rendering: $h3-font-text-rendering;
    letter-spacing: $h3-letter-spacing;
    text-transform: $h3-text-transform;
}

h4 {
    font-size: $h4-font-size;
    font-family: $h4-font-family;
    font-weight: $h4-font-weight;
    line-height: $h4-line-height;
    margin-bottom: $h4-font-margin-bottom;
    margin-top: $h4-font-margin-top;
    text-rendering: $h4-font-text-rendering;
    letter-spacing: $h4-letter-spacing;
    text-transform: $h4-text-transform;
}

h5 {
    font-size: $h5-font-size;
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    line-height: $h5-line-height;
    margin-bottom: $h5-font-margin-bottom;
    margin-top: $h5-font-margin-top;
    text-rendering: $h5-font-text-rendering;
    letter-spacing: $h5-letter-spacing;
    text-transform: $h5-text-transform;
}

h6 {
    font-size: $h6-font-size;
    font-family: $h6-font-family;
    font-weight: $h6-font-weight;
    line-height: $h6-line-height;
    margin-bottom: $h6-font-margin-bottom;
    margin-top: $h6-font-margin-top;
    text-rendering: $h6-font-text-rendering;
    letter-spacing: $h6-letter-spacing;
    text-transform: $h6-text-transform;
}

// Paragraph
//==============================================================================

p {
    font-family: $p-font-family;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
    letter-spacing: $p-letter-spacing;
    text-transform: $p-text-transform;
    margin-top: $p-margin-top;
    margin-bottom: $p-margin-bottom;
}

// Anchors
//==============================================================================

a {
    text-decoration: $a-text-decoration;
    color: $a-font-color;

    &:hover {
        text-decoration: $a-text-decoration-hover;
        color: $a-font-color-hover;
    }
}

// Lists
//==============================================================================

ul {
    list-style-type: $ul-list-style-type;
    margin-top: $ul-margin-top;
    margin-bottom: $ul-margin-bottom;
    margin-right: $ul-margin-right;
    margin-left: $ul-margin-left;
}

ol {
    list-style-type: $ol-list-style-type;
    margin-top: $ol-margin-top;
    margin-bottom: $ol-margin-bottom;
    margin-right: $ol-margin-right;
    margin-left: $ol-margin-left;
}

li {
    font-family: $li-font-family;
    font-size: $li-font-size;
    font-weight: $li-font-weight;
    line-height: $li-line-height;
    margin-top: $li-margin-top;
    margin-bottom: $li-margin-bottom;
    margin-right: $li-margin-right;
    margin-left: $li-margin-left;
    padding-top: $li-padding-top;
    padding-bottom: $li-padding-bottom;
    padding-right: $li-padding-right;
    padding-left: $li-padding-left;
}



// TODO: Fill in
