
$custom-breakpoints:(
    custom: '200px'
);

@import "../../app/scss/echo-base/defaults/breakpoints";



@include test-module('Setup breakpoints') {

    // Is map

    @include test('setup-breakpoints') {
        $test: type-of(setup-breakpoints());
        $expect: map;

        @include assert-equal($test, $expect, 'Returns the sum of two numeric maps');
    }

    // Has custom

    @include test('setup-breakpoints') {
        $result: setup-breakpoints();
        $test: map-get($result, custom);
        $expect: '200px';

        @include assert-equal($test, $expect, 'Returns the sum of two numeric maps');
    }

    // Has keys

    @include test('setup-breakpoints') {
        $result: setup-breakpoints();
        $test: map-keys($result);
        $expect: large, medium, small, custom;

        @include assert-equal($test, $expect, 'Returns the sum of two numeric maps');
    }

}
