
$custom-breakpoints: (
    custom: 200px
);

@import "../../app/scss/echo-base/defaults/breakpoints";

//==============================================================================
// Breakpoint functions
//==============================================================================

// Setup breakpoints - setup-breakpoints()
//==============================================================================

@include test-module('Setup breakpoints') {

    // Returns a map of breakpoints
    @include test('setup-breakpoints') {

        // Values to compare
        $test: type-of(setup-breakpoints());
        $expect: map;

        @include assert-equal($test, $expect, 'Returns a map');
    }



    // Returns a custom breakpoint value
    @include test('setup-breakpoints') {

        // Setup
        $breakpoints: setup-breakpoints();

        // Values to compare
        $test: map-get($breakpoints, custom);
        $expect: 200px;

        @include assert-equal($test, $expect, 'Returns a custom breakpoint value');
    }



    // Returns a list of the default and custom breakpoints
    @include test('setup-breakpoints') {

        // Setup
        $breakpoints: setup-breakpoints();

        // Values to compare
        $test: map-keys($breakpoints);
        $expect: large, medium, small, x-small, custom;

        @include assert-equal($test, $expect, 'Returns a list of the default and custom breakpoints');
    }

}
