
$custom-palette-base: rgb(255, 0, 0);

$custom-palettes: (
    custom-palette: (
        base: $custom-palette-base
    )
);

@import "../../app/scss/echo-base/defaults/palettes";

//==============================================================================
// Palette functions
//==============================================================================

// Setup palettes - setup-palettes()
//==============================================================================

@include test-module('Setup palettes') {

    // Returns a map of palettes
    @include test('setup-palettes') {

        // Values to compare
        $test: type-of(setup-palettes());
        $expect: map;

        @include assert-equal($test, $expect, 'Returns a map');
    }



    // Returns a custom palette value
    @include test('setup-palettes') {

        // Setup
        $palettes: setup-palettes();

        // Values to compare
        $test: map-has-key($palettes, custom-palette);
        $expect: true;

        @include assert-equal($test, $expect, 'Returns a merged map of default & custom palettes');
    }



    // Returns a custom palette value
    @include test('setup-palettes') {

        // Setup
        $palettes: setup-palettes();
        $palette: map-get($palettes, custom-palette);

        // Values to compare
        $test: map-get($palette, base);
        $expect: $custom-palette-base;

        @include assert-equal($test, $expect, 'Returns a custom palette value');
    }

}
