
$custom-palettes: (
    custom: (
        base: rgb(255, 0, 0)
    )
);

@import "../../app/scss/echo-base/defaults/palettes";

//==============================================================================
// Palette functions
//==============================================================================

// Setup palettes - setup-palettes()
//==============================================================================

@include test-module('Setup palettes') {

    // Returns a map of palettes
    @include test('setup-palettes') {

        // Values to compare
        $test: type-of(setup-palettes());
        $expect: map;

        @include assert-equal($test, $expect, 'Returns a map');
    }



    // Returns a custom palette value
    @include test('setup-palettes') {

        // Setup
        $palettes: setup-palettes();
        $palette: map-get($palettes, custom);

        // Values to compare
        $test: map-get($palette, base);
        $expect: rgb(255, 0, 0);

        @include assert-equal($test, $expect, 'Returns a custom palette value');
    }

}
